*{
	margin: 0;
	padding: 0;
	font-family: "Noto Sans Japanese";
}

body{
	background:url("images/main.jpg") top center no-repeat;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	margin-top: 900px;
}

h1{
	text-align:center;
}